<div class="container">
  <h3>Lista de Usuarios</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo Electrónico</th>
        <th>Rol</th>
        <th>Acciones</th> <!-- Nueva columna para acciones -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rol }}</td>
        <td>
          <button (click)="iniciarEdicion(usuario, i)" class="btn btn-warning">Editar</button>
          <button (click)="eliminarUsuario(i)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botón para exportar a Excel -->
  <button (click)="exportarAExcel()" class="btn btn-success">Descargar Excel</button>

  <!-- Formulario para editar usuario -->
  <div *ngIf="indexEditado !== null">
    <h4>Editar Usuario</h4>
    <form (ngSubmit)="guardarCambios()">
      <div class="form-group">
        <label>Nombre:</label>
        <input [(ngModel)]="usuarioEditado.nombre" name="nombre" required class="form-control"/>
      </div>
      <div class="form-group">
        <label>Correo Electrónico:</label>
        <input [(ngModel)]="usuarioEditado.email" name="email" required class="form-control"/>
      </div>
      <div class="form-group">
        <label>Rol:</label>
        <input [(ngModel)]="usuarioEditado.rol" name="rol" required class="form-control"/>
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <button (click)="indexEditado = null" type="button" class="btn btn-secondary">Cancelar</button>
    </form>
  </div>
</div>
